<!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Document</title>
      <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
      <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

      <link rel="stylesheet/less" href="/src/less/_top.less" />
    </head>
    <body>
      <!-- === header === -->
      <%- include('./header') %>
      <!-- head container -->
      <header class="masthead text-black text-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 mx-auto">
              <h1 class="mb-5"><strong>
                Perfect Skin<br />
                たった一枚で、カッコいい男に。</strong>
              </h1>
              <h5>
                薄さわずか<strong>数<i>μ</i>の極薄ベース</strong>と<strong>最高品質</strong>の<strong>天然毛髪</strong>で、本来の毛髪と変わらない体験を得ることができます。<br />
                <strong>Perfect
                Skin</strong>が極限までこだわった自然な生え際により、<strong>どんなヘアスタイル</strong>も可能に。<br />
                <strong>かつら</strong>ではない、<strong>今までになかった新しい</strong>を体験ください。
              </h5>
            </div>
          </div>
        </div>
      </header>

      <!-- === youtube埋め込み === -->
      <div class="container">
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://youtu.be/M6CN5jgCPtk"
              allowfullscreen
            ></iframe>
            <!-- === Youtube挿入 === -->
          </div>
        </div>
      </div>

      <!-- Image Showcases -->
      <section class="showcase">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div
              class="col-lg-6 order-lg-2 text-white showcase-img"
              style="background-image: url('/src/images/top/showcases01.jpg');" 
            ></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2><span class="showcase-tittle">どんなスタイル</span>でも</h2>
                <h1>本当にリアルな生え際</h1>
              <p class="lead mb-0">
                わずか数ミクロンの極薄ベースに最高品質の天然毛髪を利用しています。極薄ベースが地肌に馴染むことで、肉眼では分からない印象になります。通気性も高い素材を利用することで、ムレやかゆみを極力抑えました。天然毛髪だから自然な質感を得ることで、心にも余裕が生まれます。
              </p>
              <div style="text-align: right">
                <div class="link-text">
                    <a href="/">更に詳しく ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div
              class="col-lg-6 text-white showcase-img"
              style="background-image: url('/src/images/top/showcases02.jpg');"
            ></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2><span class="showcase-tittle">全てのことが</span>簡単にご自宅で</h2>
                <h1>耐久性に優れた安心設計</h1>
              <p class="lead mb-0">
                Perfect
                Skinでは、ご購入から着脱・日々のメンテナンスまで全てのことが、一人で簡単にできます。店舗でメンテナンスを行う必要がないため、日々の時間もお金にも余裕が生まれます。
              </p>
              <div style="text-align: right">
                <div class="link-text">
                <a href="/">更に詳しく ></a>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>

      <!-- foot container -->
      <section class="testimonials text-center">
        <div class="container">
          <hr />
          <h1 class="mb-5">Perfect Skinを理解していただくために</h1>
          <h4 class="mb-5">
            Perfect Skinは、オンライン購入する製品となります。<br />
            製品の特長や購入の方法など、製品について理解いただけるように、<br />
            まずは下記のぺージを通じて製品理解を進めてください。
          </h4>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/src/images/top/showcases02.jpg" alt="" />
                <!-- === srcに画像挿入 === -->
                <div class="testimonials-text">
                    製品の特長やPerfect
                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/src/images/top/showcases02.jpg" alt="" />
                <!-- === srcに画像挿入 === -->
                <div class="testimonials-text">
                  日々のメンテナンス方法を知りましょう。店舗に通う必要もなく、簡単にメンテナンスが出来ることをご理解いただけるかと思います。
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/src/images/top/showcases02.jpg" alt="" />
                <!-- === srcに画像挿入 === -->
                <div class="testimonials-text">
                  ご注文から商品の受け取りまでの流れを把握しましょう。店舗に通うことなく、誰にも会わずに簡単にご注文いただけます。
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- === footer === -->
      <%- include('./footer') %>

      <script src="/lib/less/less.min.js"></script>
    </body>
   
  </html>
</html>
