<footer id="pageFooter">
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <div class="text-uppercase">
            <a href="/">
              トップページ
            </a>
          </div>
          <div class="text-uppercase">
            <a href="/contents/feature/odoroki">PerfectSkinとは</a>
          </div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              <a href="/contents/feature/odoroki"
                >カツラではない最新製品について</a
              >
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3" />
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Links -->
          <div class="text-uppercase">
            <a href="/contents/cost/seihin">価格について</a>
          </div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              <a href="/contents/cost/seihin">
                安心の低価格プラン
              </a>
            </li>
          </ul>
          <div class="text-uppercase">
            <a href="/contents/maintenance/tyakudatu">メンテナンスについて</a>
          </div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              <a href="/contents/maintenance/tyakudatu"
                >日々のメンテナンスについて知る</a
              >
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Links -->
          <div class="text-uppercase">
            <a href="/contents/contact/situmon">よくある質問と回答</a>
          </div>
          <div class="text-uppercase">
            <a href="/contents/contact/toiawase">お問い合わせ先</a>
          </div>
          <div class="text-uppercase">会社概要</div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
</footer>
