<head>
  <link rel="stylesheet/less" href="/src/less/_footer.less" />
</head>
<footer id="pageFooter">
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <div class="text-uppercase">トップページ</div>
          <div class="text-uppercase">PerfectSkinとは</div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              カツラではない最新製品について
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3" />
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Links -->
          <div class="text-uppercase">価格について</div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              安心の低価格プラン
            </li>
          </ul>
          <div class="text-uppercase">
            メンテナンスについて
          </div>
          <ul class="text-uppercase">
            <li class="text-uppercase">
              日々のメンテナンスについて知る
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <!-- Links -->
          <div class="text-uppercase">よくある質問と回答</div>
          <div class="text-uppercase">お問い合わせ先</div>
          <div class="text-uppercase">会社概要</div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
</footer>
