<!-- === header === -->
<head>
    <link rel="stylesheet/less" href="/src/less/header.less" />
</head>
<header id="pageHeader">
    <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color:#f5f8fa;"
    >
        <!-- === PerfectSkin ロゴ === -->
        <a href="/" class="navbar-brand">PerfectSkin</a>

        <!-- === navBtn === -->
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- === top center list === -->
        <div
            class="collapse navbar-collapse justify-content-around"
            id="navmenu1"
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contents/feature/odoroki"
                        >製品の特長</a
                    >
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contents/maintenance/tyakudatu"
                        >日々のメンテナンス</a
                    >
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contents/cost/seihin"
                        >製品費用</a
                    >
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contents/flow/nagare1"
                        >ご注文の流れ</a
                    >
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contents/contact/situmon"
                        >問い合せ</a
                    >
                </li>
            </ul>
        </div>

        <!-- === order === -->
        <form
            class="collapse navbar-collapse justify-content-end"
            id="navmenu1"
        >
            <li class="navbar-brand" style="display:block">
                <a href="#" class="btn btn-outline-success">
                    注文する
                </a>
            </li>
            <li class="navbar-brand">
                <a href="/order/cart" class="btn btn-outline-success">
                    買い物かご
                </a>
            </li>
        </form>
    </nav>
</header>
