<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>

        <link href="./css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <body class="container-fluid">
            <main class="row justify-content-center mx-0">
              <div class="col jumbotron text-center bg-primary">
                <div class="col jumbotron">
                  <h1>hello,world!</h1>
                </div>
                <div class="col jumbotron bg-transparent">
                  <p class="lead font-weight-bold">hello,world!</p>
                </div>
              </div>
            </main>



  <script src="./lib/bootstrap/js/jquery-3.4.1.min.js"></script>
  <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
