<head>
    <link rel="stylesheet/less" href="/src/less/order/main1FirstHeader.less" />
</head>
<body>
    <div class="mainFirstHeader">
        <div class="mainFirstHeader_tab">
            <a href="./step1Siyou">Perfect Skinの購入</a>
            <span>▼</span>
        </div>
        <div class="mainFirstHeader_tab">
            <a href="./bihin">備品の購入</a>
            <span></span>
        </div>
    </div>
</body>
