<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="stylesheet/less"
            href="/src/less/order/mainFirstHeader.less"
        />
    </head>
    <body>
        <div class="mainFirstHeader">
            <div class="mainFirstHeader_tab">
                <a href="#">Perfect Skinの購入</a>
                <span>▼</span>
            </div>
            <div class="mainFirstHeader_tab">
                <a href="#">備品の購入</a>
                <span></span>
            </div>
        </div>
    </body>
</html>
