<head>
    <link rel="stylesheet/less" href="/src/less/order/mainSecondHeader.less" />
</head>
<body>
    <div class="mainSecondHeader">
        <!-- === 仕様 === -->
        <div class="mainSecondHeader_tab">
            <a href="#">仕様</a>
        </div>

        <!-- === 配送先 === -->
        <div class="mainSecondHeader_tab">
            <a href="#">配送先</a>
        </div>

        <!-- === 費用の確認 === -->
        <div class="mainSecondHeader_tab">
            <a href="#">費用の確認</a>
        </div>
    </div>
</body>
