<head>
    <link rel="stylesheet/less" href="/src/less/order/main3ThirdHeader.less" />
</head>
<body>
    <div class="mainThirdHeader">
        <!-- === 接着剤 === -->
        <div class="mainThirdHeader_tab">
            <a href="#">接着剤</a>
        </div>

        <!-- === テープ === -->
        <div class="mainThirdHeader_tab">
            <a href="#">テープ</a>
        </div>

        <!-- === リムーバ === -->
        <div class="mainThirdHeader_tab">
            <a href="#">リムーバ</a>
        </div>

        <!-- === クリーナー === -->
        <div class="mainThirdHeader_tab">
            <a href="#">クリーナー</a>
        </div>

        <!-- === その他 === -->
        <div class="mainThirdHeader_tab">
            <a href="#">その他</a>
        </div>
    </div>
</body>
