<body>
  <div class="mainSecondHeader">
    <!-- === 仕様 === -->
    <div class="mainSecondHeader_tab">
      <a href="./step1Siyou">仕様</a>
    </div>

    <!-- === 配送先 === -->
    <div class="mainSecondHeader_tab">
      <a href="./step2Haisousaki">配送先</a>
    </div>

    <!-- === 費用の確認 === -->
    <div class="mainSecondHeader_tab">
      <a href="./step3Hiyou">費用の確認</a>
    </div>
  </div>
</body>
