<body>
  <div class="mainFourthHeader">
    <!-- === 接着剤 === -->
    <div class="mainFourthHeader_tab">
      <a href="#">生え際用</a>
    </div>

    <!-- === テープ === -->
    <div class="mainFourthHeader_tab">
      <a href="#">その他</a>
    </div>
  </div>
</body>
