<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- === less === -->
    <link
      rel="stylesheet/less"
      href="/src/less/contents/contact/_situmon.less"
    />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
  </head>
  <body>
    <!-- === header === -->
    <%- include('../../header') %>

    <main>
      <%- include('./main1FirstHeader') %>

      <!-- === mainContents === -->
      <div class="mainContents container">
        <!-- === title === -->
        <div class="title">
          Perfect Skin についてのよくあるご質問
        </div>
        <!-- === content === -->
        <div class="content row">
          <!-- === contentTitle === -->
          <div class="col-md-2 contentTitle">
            製品について
          </div>
          <!-- === questions === -->
          <div class="col-md-10 questions">
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. Perfect Skinはどれくらいの期間利用できますか？
              </div>
              <div class="answer">
                一般的には４か月～６か月ほどで最初の納品時より状態が変化します。ベースが破れないていない状態の場合、増毛サービスを利用することで１年以上お使いになるお客様もいらっしゃいます。セルフメンテナンスを行っていただきますので、洗髪回数やお手入れの方法（乱雑に扱うなど）次第で、利用できる期間について個人差がございます。また上記は目安であり、保証するものではございません。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q.
                ベースは破れやすいですか？また増毛サービスについて教えてください。
              </div>
              <div class="answer">
                強度の負荷を加えない限り、ベースが破れることは滅多にございません。ベースが破れていない場合は、1万円（税抜き）から増毛サービスをご利用いただけます。郵送頂いた製品の状態を確認し、弊社から見積もり額と納期について事前にお知らせいたします。その後、お客様からお振込みを頂いてから作業を行わせて頂きます。また上記は目安であり、保証するものではございません。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q.
                完全に禿げていないのですが（多少薄いが髪がある状態）、かつらをつけることは可能でしょうか？
              </div>
              <div class="answer">
                Perfect
                Skinは、接着剤を地肌に塗ることで貼り付けを行います。そのため装着部位の毛髪を剃る必要がございます。毛髪を剃ることに抵抗がある方もいるかと思いますが、カツラの装着方法の中では一番自然な仕上がりとなります。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 購入後のカットはどこですれば良いのでしょうか？
              </div>
              <div class="answer">
                全て天然毛髪を利用しているので、どこの美容室でもカットはできます。人口毛髪が混ざっている場合、ハサミを痛めるケースがあり、カットをお断りされるケースがございます。ご予約の際に、ご確認されることを推奨しております。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 毛髪は染めることは可能ですか。
              </div>
              <div class="answer">
                はい、毛髪を染めることは可能です。またパーマなども可能です。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. つけた状態で温泉やプール、海に入れますか？
              </div>
              <div class="answer">
                はい、可能です。温泉やプール、海に入ることができます。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. つけたまま寝られますか？
              </div>
              <div class="answer">
                はい、可能です。ただし寝返りなどの負荷で、毛髪に負荷がかかるケースがあります。毛髪の抜けが早まるケースがありますので、必要に応じて増毛サービスをご利用ください。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 他メーカでは品質にバラツキがありました。大丈夫でしょうか。
              </div>
              <div class="answer">
                全て手作業で作成しているため、個体差がでる可能性はあります。お客様へ発送前に、国内で最終工程を実施しており、品質管理に万全を期しております。
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- === mainContents === -->
      <div class="mainContents container">
        <!-- === content === -->
        <div class="content row">
          <!-- === contentTitle === -->
          <div class="col-md-2 contentTitle">
            メンテナンスについて
          </div>
          <!-- === questions === -->
          <div class="col-md-10 questions">
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 洗髪の頻度はどれくらいが良いでしょうか。
              </div>
              <div class="answer">
                基本的には1週間に1回を推奨しております。洗髪を行っていただく際に、毛髪を引っ張て負荷が掛かってしまうことで、毛髪が抜けやすくなることがございます。例えば、スタイリングをする場合、毎日洗髪する必要があるかと思います。そのため2台ご購入頂き、休日用にスタイリングするためのカツラと仕事用のカツラに分けて頂くことが良いかもしれません。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. ドライヤーはできますか。
              </div>
              <div class="answer">
                はい、可能です。天然毛髪のためストレートアイロンなども可能です。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. セルフメンテナンスは簡単に行えますか？
              </div>
              <div class="answer">
                初めての方の場合、セルフメンテナンスの方法についてご不安があるかと思います。着脱時は、Perfect
                Skinにリムバーをつけ取り外し、シャンプーで洗髪した後、装着する際は接着剤を利用して装着する流れとなります。出張サービスにてメンテナスについてご説明を実施いたしますので、初めての方はご利用ください。最初のうちは5分程度でご着用が可能です。お使いいただくうちにコツを掴んでいただくことで、1～２分もかからないうちにご着用が可能です。
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- === mainContents === -->
      <div class="mainContents container">
        <!-- === content === -->
        <div class="content row">
          <!-- === contentTitle === -->
          <div class="col-md-2 contentTitle">
            ご購入・費用について
          </div>
          <!-- === questions === -->
          <div class="col-md-10 questions">
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 出張サービスについて教えてください。
              </div>
              <div class="answer">
                出張サービスでは、お客様のご指定の場所へお伺いし、テンプレートの作成方法からメンテナス方法まで対面にてご説明します。サービス料（１万円（税別））とスタッフの往復分の交通費となります。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 注文してからどれくらいで届きますか。
              </div>
              <div class="answer">
                テンプレートをお客様から頂いてから、2ヶ月～3ヶ月かかります。海外で生産をし、国内で最終工程を実施している関係で、配送状況について前後します。配送状況については、個別で必ずご連絡するようにします。
              </div>
            </div>
            <!-- === question === -->
            <div class="question">
              <div class="questionTilte">
                Q. 配送料について教えてください。
              </div>
              <div class="answer">
                配送については、海外の工場及び国内の最終工程を確認する場所へと送られます。そのため、通常のメーカに比べ配送料が高くなっております。
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- === submit === -->
      <div class="submit">
        <a href="./toiawase" class="submitButton"> 直接問い合わせる</a>
      </div>
    </main>

    <!-- === footer === -->
    <%- include('../../footer') %>
  </body>
</html>
