<head>
    <link
        rel="stylesheet/less"
        href="/src/less/contents/contact/main1FirstHeader.less"
    />
</head>
<body>
    <div class="mainFirstHeader">
        <div class="mainFirstHeader_tab">
            <a href="./situmon">良くある質問</a>
            <span>▼</span>
        </div>
        <div class="mainFirstHeader_tab">
            <a href="./toiawase">直接問い合わせる</a>
            <span></span>
        </div>
    </div>
</body>
