@import "../../common.less";
@import "../../header.less";
@import "../../footer.less";
@import "./main1FirstHeader.less";

main {
    font-size: @base-fontsize;
    font-family: @base-fontfami;
    min-height: 80vh;
    max-width: 1200px;
    margin: auto;

    /* === container === */
    .container {

        /* === topBlock === */
        .topBlock {
            margin-bottom: 50px;

            /* === leftSide === */
            .leftSide {
                margin-bottom: 50px;

                .mainTitle {
                    font-size: @base-fontsize * 2.6;
                    font-weight: bold;
                    margin-bottom: 10px;

                    @media @sp {
                        font-size: @base-fontsize * 1.8;
                    }
                }

                .subTitle {
                    font-size: @base-fontsize * 1.6;
                    font-weight: bold;
                    margin-bottom: 20px;

                    @media @sp {
                        font-size: @base-fontsize * 1.2;
                    }
                }

                .linkButton {
                    button {
                        background-color: @pink;
                        border: solid 1px @pink;
                        padding: 3px 15px;
                        border-radius: 5px;

                        a {
                            color: white;
                        }
                    }
                }
            }

            /* === rightSide === */
            .rightSide {
                .image {
                    img {
                        display: inline-block;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .description {
                    font-size: @base-fontsize * 1.4;
                    font-weight: bold;

                    @media @sp {
                        font-size: @base-fontsize ;
                    }

                    .level1 {
                        padding-left: 2vw;
                        font-size: @base-fontsize * 1.3;
                    }

                    .level2 {
                        padding-left: 4vw;
                        font-size: @base-fontsize * 1.8;
                        line-height: 0;
                    }
                }
            }
        }

        /* === bgTitleBlock === */
        .bgTitleBlock {
            padding: 10vh 0;
            text-align: center;
            font-size: @base-fontsize * 2.5;
            font-weight: bold;
            margin-bottom: 10vh;

            @media @sp {
                font-size: @base-fontsize * 1.8;
            }
        }

        /* === contents === */
        .contents {

            /* === content-style1 === */
            .content-style1 {
                margin-bottom: 10vh;

                .title {
                    font-size: @base-fontsize * 2.5;
                    font-weight: bold;
                    margin-bottom: 10px;

                    @media @sp {
                        font-size: @base-fontsize * 1.8;
                    }
                }

                .description {
                    margin-bottom: 20px;
                }

                .table {
                    img {
                        display: inline-block;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            /* === content-style2 === */
            .content-style2 {
                margin-bottom: 10vh;

                /* === title === */
                .title {
                    font-size: @base-fontsize * 2.2;
                    font-weight: bold;

                    @media @sp {
                        font-size: @base-fontsize * 1.8;
                    }
                }

                /* === description === */
                .description {
                    margin-bottom: 20px;
                    font-size: @base-fontsize*1.6;
                }

                /* === detail === */
                .detail {

                    /* === questions === */
                    .questions {

                        /* === questionBlock === */
                        .questionBlock {
                            margin-bottom: 20px;

                            .question {
                                margin-bottom: 10px;

                                .level1 {
                                    padding-left: 2vw;
                                }
                            }

                            .form {
                                text-align: right;

                                input[type="text"] {
                                    border: none;
                                    border-bottom: solid 1px @gray;
                                }

                                button,
                                select {
                                    border: solid 1px @gray;
                                    background-color: white;
                                    border-radius: 5px;
                                    padding: 3px 10px;
                                    margin: 0 10px;
                                    min-width: 150px;
                                }
                            }
                        }

                        .calcuButton {
                            text-align: center;

                            button {
                                background-color: @pink;
                                color: white;
                                border-radius: 5px;
                                border: solid 1px @pink;
                                padding: 3px 5vw;
                            }
                        }
                    }

                    /* === result === */
                    .result {
                        .image {
                            img {
                                display: inline-block;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .description {
                            font-size: @base-fontsize * 1.4;
                            font-weight: bold;

                            @media @sp {
                                font-size: @base-fontsize ;
                            }

                            .level1 {
                                padding-left: 2vw;
                                font-size: @base-fontsize * 1.1;
                            }

                            .level2 {
                                padding-left: 4vw;
                                font-size: @base-fontsize * 1.4;
                            }
                        }
                    }
                }
            }
        }

        /* === serviceBlock === */
        .serviceBlock {
            .title {
                font-size: @base-fontsize * 2.5;
                font-weight: bold;
                margin-bottom: 20px;

                @media @sp {
                    font-size: @base-fontsize * 1.8;
                }
            }

            .description {
                padding: 0 2vw;
                margin-bottom: 20px;
            }

            .images {
                @media @pc {
                    padding: 0 4vw;
                }

                img {
                    display: inline-block;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        /* === PerfectSkinBlock === */
        .PerfectSkinBlock {
            margin-bottom: 50px;

            @media @pc {
                padding: 0 40px;
            }

            /* === titleBlock === */
            .titleBlock {
                text-align: center;

                .title {
                    font-size: @base-fontsize * 3.0;
                    font-weight: bold;
                    margin-bottom: 30px;

                    @media @sp {
                        font-size: @base-fontsize*1.7;
                    }
                }

                .description {
                    font-size: @base-fontsize * 1.4;

                    @media @sp {
                        font-size: @base-fontsize;
                    }
                }
            }

            /* === contents === */
            .contents {

                /* === content === */
                .content {
                    padding: 20px;

                    /* === contentImage === */
                    .contentImage {
                        margin-bottom: 20px;

                        img {
                            display: inline-block;
                            max-width: 80%;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }

                    /* === contentDescription === */
                    .contentDescription {
                        font-size: @base-fontsize * 1.2;
                        margin-bottom: 30px;
                    }

                    /* === contentLink === */
                    .contentLink {
                        text-align: right;

                        a {
                            color: #0000ff;
                        }
                    }
                }
            }
        }

        /* === border === */
        .border {
            margin: 15vh 0;
        }
    }
}