<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>

        <!-- === less === -->
        <link rel="stylesheet/less" href="/src/less/top.less" />

        <!-- === lib === -->
        <script src="/lib/less/less.min.js"></script>
    </head>
    <body>
        <div>test</div>
    </body>
</html>
