<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/lib/FontAwesome5/css/all.css" />

    <!-- === less === -->
    <link
      rel="stylesheet/less"
      type="text/css"
      href="/src/less/contents/feature/_odoroki.less"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
  </head>
  <body>
    <!-- === header === -->
    <%- include('../../header') %>

    <main>
      <!-- === main1FirstHeader === -->
      <%- include('./main1FirstHeader') %>

      <!-- === container === -->
      <div class="container">
        <!-- === mainTitleBlock === -->
        <div class="mainTitleBlock">
          <div class="mainTitle">
            革新的な一枚
          </div>
          <div class="subTitle">
            今日から始めよう、新しい自分へ
          </div>
        </div>

        <!-- === mainImage === -->
        <div class="mainImage">
          <img src="/src/images/contents/feature/odoroki/pic1.png" alt="" />
        </div>

        <!-- === secondTitleBlock === -->
        <div class="secondTitleBlock">
          高いだけのかつらにはさようなら<br />
          Pefect Skinは、自然さを極限まで追及した、<br />
          安心して継続利用できる製品です。
        </div>

        <!-- === border === -->
        <div class="border"></div>

        <!-- === contents === -->
        <div class="contents">
          <!-- === content-style1 : どんなスタイルでも  === -->
          <div class="content-style1 row">
            <!-- === detail === -->
            <div class="detail col-sm-7">
              <div class="title">
                <span class="yellow">
                  <span class="under">どんな</span>スタイルでも</span
                ><br />
                本当にリアルな生え際
              </div>
              <div class="description">
                Perfect
                Skinは、わずか数ミクロンの極薄ベースに最高品質の天然毛髪を利用しています。地肌に張り付けたとき、地肌になじんで肉眼ではほとんど分からない印象になります。触れたときも自然な質感を得ることで、心にも余裕が生まれます。
              </div>
              <div class="link">
                <a href="">生え際の植毛技術</a>
                <a href="">極薄ベース素材</a>
              </div>
            </div>
            <!-- === image === -->
            <div class="image col-sm-5">
              <img src="/src/images/contents/feature/odoroki/pic2.png" alt="" />
            </div>
          </div>

          <!-- === content-style2 : 自然な生え際を実現するグラデーションシステム  === -->
          <div class="content-style2">
            <div class="title">
              自然な生え際を実現する<br class="br-sp" />グラデーションシステム
            </div>
            <div class="description">
              Perfect
              Skinは、人間本来の生え際を再現できるように、グラデーションシステムを取り入れています。グラデーションシステムでは、単に生え際を作るのではなく、お客様の毛髪密度に対して、生え際の毛量や毛の流れをコントロールすることで、これまでに再現が難しかった自然なヘアーラインを再現します。<br />
              <br />
              従来のカツラでは、いくら素材が薄い場合でも一定の間隔や同じ毛の流れで植毛されることで人工的な不自然さを感じる印象になっていました。「Perfect
              Skin」では生え際にもっともこだわりを入れ、より自然な雰囲気を演出できます。
            </div>
            <div class="image">
              <img src="/src/images/contents/feature/odoroki/pic3.png" alt="" />
            </div>
          </div>

          <!-- === content-style2 : リアルを実現するためのデザイン === -->
          <div class="content-style2">
            <div class="title">
              リアルを実現するための<br class="br-sp" />デザイン
            </div>
            <div class="description">
              「Perfect
              Skin」の1番の特長は、地肌との一体化です。わずか数μの極薄ベースを利用し、地肌に張り付けることで、肉眼では見分けがつかないほどの自然さを再現できます。極薄ベースと最高品質の天然毛髪が組み合わさることで、今までになかった質感・自然な生え際を再現することで本来の毛髪と変わらない体感を得ることができます。<br />
              <br />
              毎日のスタイリングも自由にでき、生え際を生かしたヘアースタイルも自由です。他社では素材のオプションなどにより販売価格も大きく異なりますが、「Perfect
              Skin」では、３万（税抜き）からご利用いただけます。オプションなどに関係なく、全て一律価格となっており、ご心配なく継続してご利用いただけます。
            </div>
            <div class="image">
              <img src="/src/images/contents/feature/odoroki/pic4.png" alt="" />
            </div>
          </div>

          <!-- === content-style1 : ココロに余裕を  === -->
          <div class="content-style1 row">
            <!-- === detail === -->
            <div class="detail col-sm-7">
              <div class="title">
                <span class="yellow">
                  <span class="under">ココロ</span>に余裕を</span
                ><br />
                今までにないリアルな質感
              </div>
              <div class="description">
                Perfect Skinでは、全て最高品質の天然毛髪を利用しています。
                より自然さをだすには、髪本来のふんわりさを表現することが重要です。
                天然毛髪だから普段愛用しているシャンプーやスタイリングも楽しめます。<br />
                近年では人口毛髪の開発が進み、より天然毛髪に近くなっておりますが、
                天然毛髪の方がスタイリングしていない状態・又はシャワー後の状態でもより自然さを演出できます。<br />
                <br />
                <div class="attention">
                  ＊かつらの耐用年数を上げたいということから、人口毛髪と天然毛髪を混ぜたいお客様にも対応いたします。ただ弊社では毛量のみを増毛するサービスも行っておりますので、天然毛髪のみで仕上げる場合でもランニングコストはさほど変わりません。
                </div>
              </div>
              <div class="link">
                <a href="">自然な毛髪密度</a>
                <a href="">品質の高い天然毛髪</a>
              </div>
            </div>
            <!-- === image === -->
            <div class="image col-sm-5">
              <img src="/src/images/contents/feature/odoroki/pic2.png" alt="" />
            </div>
          </div>

          <!-- === content-style2 : リアルを実現するためのデザイン === -->
          <div class="content-style2">
            <div class="title">
              あなたに合わせサイズ・毛髪密度で作ります。<br />
              だから立体感がでるのです。
            </div>
            <div class="description">
              「Perfect
              Skin」では、毛髪密度のコントールにも着目しています。単に毛髪を均一に植えてはパターン化することで、不自然に見えます。重要なことは貼り付ける部位に合わせて、毛流れや髪色・毛量そして毛の癖を再現することです。<br />
              「Perfect
              Skin」はオンラインのみの販売としておりますが、お客様の毛髪サンプルに合わせ、毛髪の太さ・毛の癖にマッチする天然毛髪を利用し、部位に合わせ毛髪の毛量を自動調整します。なので複雑な手続きは一切不要です。<br />
              <br />
              毛髪密度をコントロールすることは上記のメリットだけではありません。通常のカツラの場合、美容院でカットした後であればとても自然に見えますが、数カ月たつとアンバランスな毛髪密度により、不自然な印象になりやすくなります。<br />
              「Perfect
              Skin」では、装着する部位・サイズに合わせ植毛を人間本来の毛髪の生え方に近づけ、数カ月後までも安心してご利用できます。経済的に余裕が生まれるだけでなく、時間にもココロにも余裕が生まれ、より一層自信をもつことができます。
            </div>
          </div>

          <!-- === content-style2 : すべて１００％天然毛髪を利用します。 === -->
          <div class="content-style2">
            <div class="title">
              すべて１００％天然毛髪を利用します。
              <br />
              さらに髪色や髪質まで自然に再現できるオーダーメイド
            </div>
            <div class="description">
              完全な質感を表現するのは、天然毛髪を利用することをお勧めします。ドライヤーをして毛のうねりを作ったり、ヘアスタイルも自由自在にスタイリングすることができます。もちろん人口毛髪を利用する方が、メンテナンス時の毛の抜けを抑えることができます。弊社では、毛量が抜けたからといって新しく「Perfect
              Skin」を購入する必要はありません。<br />
              ベース部分に破れなどが生じない限り、１万（税抜き）から天然毛髪を新たに植毛し直すことができます。<br />
              <br />
              お好きなタイミングでマンツーマンの美容室を予約して、髪の毛を染めたりパーマをかけることで、ヘアスタイルで自由に遊ぶことだってできます。「普段は真面目、休日は少し気をラフ」で。<br />
              <br />
              <span class="sm"
                >＊耐用年数をあげることで人口毛髪を混ぜることをご希望のお客様もいます。その場合は毛量に合わせて弊社にて調整可能です。</span
              ><br />
              <span class="sm"
                >＊人口毛髪の場合、はさみを痛める関係で一般美容室の利用を断れるケースがございますので、ご注意ください。</span
              ><br />
              <span class="sm"
                >＊シャンプーやドライヤ－、「Perfect
                Skin」を着けたままご就寝できます。 </span
              ><br />
            </div>
          </div>

          <!-- === content-style1 : 好きなスポーツを  === -->
          <div class="content-style1 row">
            <!-- === detail === -->
            <div class="detail col-sm-7">
              <div class="title">
                <span class="yellow">
                  <span class="under">好きな</span>スポーツを</span
                ><br />
                耐久性に優れた安心設計
              </div>
              <div class="description">
                Perfect
                Skinは、特殊な接着剤で地肌に張り付けます。接着剤以外にテープや金具での装着も可能です。Perfect
                Skinと地肌とがなじむことで、生え際やつむじ周りも肉眼ではほとんどわからない自然な印象になります。
              </div>
              <div class="link">
                <a href="">引っ張っても外れない </a>
              </div>
            </div>
            <!-- === image === -->
            <div class="image col-sm-5">
              <img src="/src/images/contents/feature/odoroki/pic2.png" alt="" />
            </div>
          </div>

          <!-- === content-style2 : 通気性が高いから === -->
          <div class="content-style2">
            <div class="title">
              通気性が高いから<br class="br-sp" />いつも清潔に。
              <br />
              そしていつも通りの生活を
            </div>
            <div class="description">
              Perfect
              Skinが利用している極薄ベースでは、ムレやかゆみが発生することはございません。ベース上には細かく空洞があり、風や温度を直接感じることができます。夏場にムレる等の心配はございません。また自毛と一緒にシャンプーをすることも可能で、常に清潔に保つことができます。
            </div>
          </div>
        </div>

        <!-- === secondTitleBlock : かつらの常識を超える === -->
        <div class="secondTitleBlock">
          かつらの常識を超える、新しい概念、<br />
          Perfect Skin
        </div>

        <!-- === mainImage === -->
        <div class="mainVideo">
          <img src="/src/images/contents/feature/odoroki/pic5.png" alt="" />
        </div>

        <!-- === border === -->
        <div class="border"></div>

        <!-- === PerfectSkinBlock : Perfect Skinを理解していただくために。 === -->
        <div class="PerfectSkinBlock">
          <!-- === titleBlock === -->
          <div class="titleBlock">
            <div class="title">
              Perfect Skinを理解して<br class="sp-br" />いただくために。
            </div>
            <div class="description">
              Pefect Skinは、オンラインで購入する製品となります。<br />
              製品の特長や購入の方法など、製品について理解いただけるように、<br />
              まずは下記のページを通じて製品理解を進めてください。
            </div>
          </div>

          <!-- === contents === -->
          <div class="contents">
            <div class="row">
              <!-- === content ①製品紹介 === -->
              <div class="col-sm-4 content">
                <!-- === contentImage === -->
                <div class="contentImage">
                  <img
                    src="/src/images/contents/flow/nagare1/pic4.png"
                    alt=""
                  />
                </div>
                <!-- === contentDescription === -->
                <div class="contentDescription">
                  製品の特長やPerferc
                  Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                </div>
                <!-- === contentLink === -->
                <div class="contentLink">
                  <a href="/contents/feature/odoroki">①製品紹介</a>
                </div>
              </div>
              <!-- === content ②日々のメンテナンス === -->
              <div class="col-sm-4 content">
                <!-- === contentImage === -->
                <div class="contentImage">
                  <img
                    src="/src/images/contents/flow/nagare1/pic5.png"
                    alt=""
                  />
                </div>
                <!-- === contentDescription === -->
                <div class="contentDescription">
                  製品の特長やPerferc
                  Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                </div>
                <!-- === contentLink === -->
                <div class="contentLink">
                  <a href="/contents/maintenance/tyakudatu"
                    >②日々のメンテナンス</a
                  >
                </div>
              </div>
              <!-- === content ③ご注文の流れ ④製品費用 === -->
              <div class="col-sm-4 content">
                <!-- === contentImage === -->
                <div class="contentImage">
                  <img
                    src="/src/images/contents/flow/nagare1/pic5.png"
                    alt=""
                  />
                </div>
                <!-- === contentDescription === -->
                <div class="contentDescription">
                  製品の特長やPerferc
                  Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                </div>
                <!-- === contentLink === -->
                <div class="contentLink">
                  <a href="/contents/flow/nagare1">③ご注文の流れ</a>
                </div>
                <!-- === contentLink === -->
                <div class="contentLink">
                  <a href="/contents/cost/seihin">④製品費用</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- === footer === -->
    <%- include('../../footer') %>
  </body>
</html>
