<head>
    <link
        rel="stylesheet/less"
        href="/src/less/contents/feature/main1FirstHeader.less"
    />
</head>
<body>
    <div class="mainFirstHeader">
        <div class="mainFirstHeader_tab">
            <a href="./odoroki">驚きの自然さ</a>
            <span>▼</span>
        </div>
        <div class="mainFirstHeader_tab">
            <a href="./runningcost">とても安いランニングコスト</a>
            <span></span>
        </div>
    </div>
</body>
