<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/lib/FontAwesome5/css/all.css" />

        <!-- === less === -->
        <link
            rel="stylesheet/less"
            href="/src/less/contents/flow/_nagare1.less"
        />
    </head>
    <body>
        <!-- === header === -->
        <%- include('../../header') %>

        <main>
            <!-- === main1FirstHeader === -->
            <%- include('./main1FirstHeader') %>

            <!-- === contents === -->
            <div class="contents container">
                <!-- === titleBlock === -->
                <div class="titleBlock">
                    <div class="mainTitle">ご注文からお支払いについて</div>
                    <div class="titleDescription">
                        製品のお見積りからお支払いまでの流れを説明いたします。
                    </div>
                </div>

                <!-- === contentTimeLine === -->
                <div class="contentTimeLines">
                    <!-- === ● contentTimeLineCircle === -->
                    <div class="row contentTimeLineCircle">
                        <!-- === leftSideBlock === -->
                        <div class="col-5 leftSideBlock"></div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="circleBlock">
                                <div class="outerCircle">
                                    <div class="innerCircle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- === rightSideBlock === -->
                        <div class="col-5 rightSideBlock"></div>
                    </div>

                    <!-- === ■ contentTimeLineContent === -->
                    <div class="row contentTimeLineContent">
                        <!-- === leftSideBlock === -->
                        <div class="col-5 imageSideBlock">
                            <div class="content">
                                <img
                                    src="/src/images/contents/flow/nagare1/pic1.png"
                                    alt=""
                                />
                            </div>
                        </div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="centerLine"></div>
                        </div>
                        <!-- === rightSideBlock === -->
                        <div class="col-5 descriptionSideBlock">
                            <div class="content">
                                <div class="title">
                                    注文ページから購入価格を見積もってみましょう。
                                </div>
                                <div class="description">
                                    <a href="#">注文ページ</a
                                    >にアクセスして、製品価格を見積もりましょう。<br />
                                    製品についての仕様をご入力いただき、製品価格を確認してください。<br />
                                    また製品をお届けする配送先をご入力いただきます。<br />
                                    その後、弊社よりご登録頂いたメールアドレスにテンプレートの作成方法についてのご案内を送らせて頂きます。<br /><br />
                                    ＊この段階ではご注文は確定しておりません。
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === ● contentTimeLineCircle === -->
                    <div class="row contentTimeLineCircle">
                        <!-- === leftSideBlock === -->
                        <div class="col-5 leftSideBlock"></div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="circleBlock">
                                <div class="outerCircle">
                                    <div class="innerCircle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- === rightSideBlock === -->
                        <div class="col-5 rightSideBlock"></div>
                    </div>

                    <!-- === ■ contentTimeLineContent === -->
                    <div class="row contentTimeLineContent">
                        <!-- === rightSideBlock === -->
                        <div class="col-5 descriptionSideBlock">
                            <div class="content">
                                <div class="title">
                                    テンプレートを送付しましょう。
                                </div>
                                <div class="description">
                                    Perfect
                                    Skinの型・サイズを決めるため、お客様にテンプレートを作成いただき、弊社に送付いただく必要があります。<br />
                                    テンプレートの作成方法と郵送先については、手順１のお手続き後、メールにてご連絡いたします。<br />
                                </div>
                            </div>
                        </div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="centerLine"></div>
                        </div>
                        <!-- === leftSideBlock === -->
                        <div class="col-5 imageSideBlock">
                            <div class="content">
                                <img
                                    src="/src/images/contents/flow/nagare1/pic2.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>

                    <!-- === ● contentTimeLineCircle === -->
                    <div class="row contentTimeLineCircle">
                        <!-- === leftSideBlock === -->
                        <div class="col-5 leftSideBlock"></div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="circleBlock">
                                <div class="outerCircle">
                                    <div class="innerCircle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- === rightSideBlock === -->
                        <div class="col-5 rightSideBlock"></div>
                    </div>

                    <!-- === ■ contentTimeLineContent === -->
                    <div class="row contentTimeLineContent">
                        <!-- === leftSideBlock === -->
                        <div class="col-5 imageSideBlock">
                            <div class="content">
                                <img
                                    src="/src/images/contents/flow/nagare1/pic3.png"
                                    alt=""
                                />
                            </div>
                        </div>
                        <!-- === centerLineBlock === -->
                        <div class="col-2 centerLineBlock">
                            <div class="centerLine"></div>
                        </div>
                        <!-- === rightSideBlock === -->
                        <div class="col-5 descriptionSideBlock">
                            <div class="content">
                                <div class="title">
                                    製品価格をお支払いしましょう。
                                </div>
                                <div class="description">
                                    弊社にテンプレートが届き次第、お客様のサイズ・仕様を
                                    確認させていただき、ご登録頂いたメールアドレスに製品価格と
                                    お支払い先のご案内メールをお送りいたします。<br /><br />
                                    ＊既製品をご注文いただいた方は、通常、2-3週間以内に配送します。<br />
                                    ＊オーダメイドでご注文ただいた方は、通常、2-3ヶ月以内に配送します。<br /><br />
                                    ＊注文後、10日以内にお支払いが確認できない場合、
                                    　キャンセル扱いとなりますことご了承ください。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === questions === -->
                <div class="questions">
                    <!-- === title === -->
                    <div class="title">
                        良くある質問
                    </div>
                    <!-- === question === -->
                    <div class="question">
                        <div class="questionTitle">
                            Q. 注文した後、キャンセルは可能でしょうか。
                        </div>
                        <div class="answer">
                            注文ページからお見積りを取得した段階では、いつでもキャンセルができます。ただし、製品代金をお支払いした後のキャンセルはできませんので、あらかじめご了承ください。
                        </div>
                    </div>
                    <!-- === question === -->
                    <div class="question">
                        <div class="questionTitle">
                            Q.
                            テンプレートの作成が不安なのですが、作成頂くことは可能でしょう。
                        </div>
                        <div class="answer">
                            はい、可能です。弊社スタッフがお客様のご指定の住所に訪問させて頂き、テンプレートを作成いたします。テンプレートの作成方法についてはとても簡単で多くのお客様は、ご自身でテンプレートを型取りしております。ご不安な場合は、<span
                                class="blue"
                                >出張サービス</span
                            >をご利用ください。
                        </div>
                    </div>
                    <!-- === question === -->
                    <div class="question">
                        <div class="questionTitle">
                            Q. 注文後に製品を返品することは可能でしょうか。
                        </div>
                        <div class="answer">
                            製品代金をお支払いした後、製品の返品や交換はできません。製品については、職人が一つ一つ手作りで作成しておりますので、前回受け取った製品と多少の相違がある場合がございます。
                            品質については、万全を期しておりますが、この点あらかじめご了承ください。
                        </div>
                    </div>
                    <!-- === contactLink === -->
                    <div class="contactLink">
                        <a href="/contents/contact/situmon">よくある質問へ ></a>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === PerfectSkinBlock : Perfect Skinを理解していただくために。 === -->
                <div class="PerfectSkinBlock">
                    <!-- === titleBlock === -->
                    <div class="titleBlock">
                        <div class="title">
                            Perfect Skinを理解していただくために。
                        </div>
                        <div class="description">
                            Pefect
                            Skinは、オンラインで購入する製品となります。<br />
                            製品の特長や購入の方法など、製品について理解いただけるように、<br />
                            まずは下記のページを通じて製品理解を進めてください。
                        </div>
                    </div>

                    <!-- === contents === -->
                    <div class="contents">
                        <div class="row">
                            <!-- === content ①製品紹介 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic4.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/feature/odoroki"
                                        >①製品紹介</a
                                    >
                                </div>
                            </div>
                            <!-- === content ②日々のメンテナンス === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/maintenance/tyakudatu"
                                        >②日々のメンテナンス</a
                                    >
                                </div>
                            </div>
                            <!-- === content ③ご注文の流れ ④製品費用 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/flow/nagare1"
                                        >③ご注文の流れ</a
                                    >
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/cost/seihin"
                                        >④製品費用</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- === footer === -->
        <%- include('../../footer') %>

        <script src="/lib/less/less.min.js"></script>
    </body>
</html>
