<body>
  <div class="mainFirstHeader">
    <div class="mainFirstHeader_tab">
      <a href="./nagare1">ご注文の流れ</a>
      <span>▼</span>
    </div>
    <div class="mainFirstHeader_tab">
      <a href="./nagare2">製品の受け取りの流れ</a>
      <span></span>
    </div>
  </div>
</body>
