<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/lib/FontAwesome5/css/all.css" />

        <!-- === less === -->
        <link
            rel="stylesheet/less"
            href="/src/less/contents/maintenance/_oteire.less"
        />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    </head>
    <body>
        <!-- === header === -->
        <%- include('../../header') %>

        <main>
            <!-- === main1FirstHeader === -->
            <%- include('./main1FirstHeader') %>

            <!-- === contents === -->
            <div class="container">
                <!-- === topTitleBlock : 3ステップで簡単に着脱することができます === -->
                <div class="topTitleBlock">
                    <!-- === titleBlock === -->
                    <div class="titleBlock">
                        <div class="icon">
                            <img
                                src="/src/images/contents/maintenance/oteire/pic1.png"
                                alt=""
                            />
                        </div>
                        <div class="title">
                            ２ステップで<br />
                            簡単にお手入れをすることができます。
                        </div>
                    </div>
                    <!-- === description === -->
                    <div class="description">
                        Perferct Skin のメンテナンスの方法をご説明します。<br />
                        メンテナスに必要な商品は、市販のシャンプーとトリートメントのみです。<br />
                        髪の毛を染めたい場合、市販の染め剤を利用して染めることができます。
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === firstContentBlock : ステップ１～３ === -->
                <div class="firstContentBlock">
                    <!-- === step1 === -->
                    <div class="step123Block">
                        <!-- === titleBlock === -->
                        <div class="titleBlock">
                            <div class="icon">
                                <img
                                    src="/src/images/contents/maintenance/oteire/step1.png"
                                    alt=""
                                />
                            </div>
                            <div class="title">
                                ステップ１<br />
                                シャンプーを泡立て、毛髪全体に行き渡らせます。
                            </div>
                        </div>
                        <!-- === detail === -->
                        <div class="row detail">
                            <!-- === description === -->
                            <div class="col-sm-6 description">
                                毛髪全体をシャワーで濡らします。泡立てたシャンプーを全体に行き渡らせます。そのまま髪の流れに沿って、なでるだけで汚れは落ちます。<br />
                                <br />
                                注意
                                ・もみ洗いやこすり洗いは、毛絡みの原因となるため控えてください。
                            </div>
                            <!-- === images === -->
                            <div class="col-sm-6 images">
                                <div class="bgImage">
                                    <img
                                        src="/src/images/contents/maintenance/oteire/step1-bg1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="row smImages">
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/oteire/step1-sm1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/oteire/step1-sm2.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/oteire/step1-sm3.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === step2 === -->
                    <div class="step123Block">
                        <!-- === titleBlock === -->
                        <div class="titleBlock">
                            <div class="icon">
                                <img
                                    src="/src/images/contents/maintenance/oteire/step2.png"
                                    alt=""
                                />
                            </div>
                            <div class="title">
                                ステップ２<br />
                                コンディショナーをした後、ドライヤーで乾きましょう。
                            </div>
                        </div>
                        <!-- === detail === -->
                        <div class="row detail">
                            <!-- === description === -->
                            <div class="col-sm-6 description">
                                毛髪にコンディショナーを付けます。
                                シャワーでコンディショナーを落とした後、かつらを押さえるようにしてタオルで水分をふき取ります。<br />
                                <br />
                                その後、ドライヤーを利用して髪を乾燥させます。<br />
                                <br />
                                注意
                                ・ドライヤーはカツラから30cm以上離してご使用ください。
                            </div>
                            <!-- === images === -->
                            <div class="col-sm-6 images">
                                <div class="bgImage">
                                    <img
                                        src="/src/images/contents/maintenance/oteire/step2-bg1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="row smImages">
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/oteire/step2-sm1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/oteire/step2-sm2.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === secondContentBlock : よくある質問 === -->
                <div class="secondContentBlock">
                    <!-- === questions === -->
                    <div class="questions">
                        <!-- === title === -->
                        <div class="title">
                            良くある質問
                        </div>
                        <!-- === question === -->
                        <div class="question">
                            <div class="questionTitle">
                                Q. 装着したままシャワーを浴びても良いですか？
                            </div>
                            <div class="answer">
                                装着したままで問題ございません。装着した場合も上記の手順に沿って、髪の汚れを落としてください。
                            </div>
                        </div>
                        <!-- === question === -->
                        <div class="question">
                            <div class="questionTitle">
                                Q. 毎日、メンテナンスをする必要はありますか。
                            </div>
                            <div class="answer">
                                毎日、行う必要はありません。特に整髪剤を利用していない場合、ブラッシングをすることで毛髪についたほこりなどを落としてください。着脱の際に、メンテナンスを行う方が大半です。
                            </div>
                        </div>
                        <!-- === question === -->
                        <div class="question">
                            <div class="questionTitle">
                                Q.
                                毛髪の色が抜けてきた場合はどうすれば良いでしょうか。
                            </div>
                            <div class="answer">
                                全て天然毛髪を利用しているため、市販の毛染め剤で染めることが可能です。お好きな色にカラーリングすることが可能です。毛染めする際は、ベースに染料がつかないようにしてください。
                            </div>
                        </div>
                        <!-- === contactLink === -->
                        <div class="contactLink">
                            <a href="/contents/contact/situmon"
                                >よくある質問へ ></a
                            >
                        </div>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === thirdContentBlock : 私たちがサポートします === -->
                <div class="thirdContentBlock">
                    <div class="title">
                        私たちがサポートします。
                    </div>
                    <div class="description">
                        メンテナス方法や購入時について質問がある。メンテナス製品について質問がある。どんなことでも相談にのります。<br />
                        購入前や購入後のサポートまで些細な質問でもお気軽にご相談ください。
                    </div>
                    <div class="link">
                        <a href="/contents/contact/toiawase">
                            問い合わせする >
                        </a>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === PerfectSkinBlock : Perfect Skinを理解していただくために。 === -->
                <div class="PerfectSkinBlock">
                    <!-- === titleBlock === -->
                    <div class="titleBlock">
                        <div class="title">
                            Perfect Skinを理解して<br class="sp-br">いただくために。
                        </div>
                        <div class="description">
                            Pefect
                            Skinは、オンラインで購入する製品となります。<br />
                            製品の特長や購入の方法など、製品について理解いただけるように、<br />
                            まずは下記のページを通じて製品理解を進めてください。
                        </div>
                    </div>

                    <!-- === contents === -->
                    <div class="contents">
                        <div class="row">
                            <!-- === content ①製品紹介 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic4.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/feature/odoroki"
                                        >①製品紹介</a
                                    >
                                </div>
                            </div>
                            <!-- === content ②日々のメンテナンス === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/maintenance/tyakudatu"
                                        >②日々のメンテナンス</a
                                    >
                                </div>
                            </div>
                            <!-- === content ③ご注文の流れ ④製品費用 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/flow/nagare1"
                                        >③ご注文の流れ</a
                                    >
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/cost/seihin"
                                        >④製品費用</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- === footer === -->
        <%- include('../../footer') %>
    </body>
</html>
