<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/lib/bootstrap/js/jquery-3.4.1.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/lib/FontAwesome5/css/all.css" />

        <!-- === less === -->
        <link
            rel="stylesheet/less"
            href="/src/less/contents/maintenance/_tyakudatu.less"
        />
    </head>
    <body>
        <!-- === header === -->
        <%- include('../../header') %>

        <main>
            <!-- === main1FirstHeader === -->
            <%- include('./main1FirstHeader') %>

            <!-- === contents === -->
            <div class="container">
                <!-- === topTitleBlock : 3ステップで簡単に着脱することができます === -->
                <div class="topTitleBlock">
                    <!-- === titleBlock === -->
                    <div class="titleBlock">
                        <div class="icon">
                            <img
                                src="/src/images/contents/maintenance/tyakudatu/pic1.png"
                                alt=""
                            />
                        </div>
                        <div class="title">
                            3ステップで<br />
                            簡単に着脱することができます。
                        </div>
                    </div>
                    <!-- === description === -->
                    <div class="description">
                        Perferct Skin の着脱までの流れをご説明します。<br />
                        メンテナスに必要な商品は、
                        <a href="/order/bihin">
                            備品
                        </a>
                        ページから購入ください。
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === firstContentBlock : ステップ１～３ === -->
                <div class="firstContentBlock">
                    <!-- === step1 === -->
                    <div class="step123Block">
                        <!-- === titleBlock === -->
                        <div class="titleBlock">
                            <div class="icon">
                                <img
                                    src="/src/images/contents/maintenance/tyakudatu/step1.png"
                                    alt=""
                                />
                            </div>
                            <div class="title">
                                ステップ１<br />
                                専用の接着剤・テープを利用して地肌につけましょう。
                            </div>
                        </div>
                        <!-- === description === -->
                        <div class="description">
                            ※接着剤は、
                            <a href="/order/bihin">備品</a>
                            ページから購入してしてください。
                        </div>
                        <!-- === detail === -->
                        <div class="row detail">
                            <!-- === description === -->
                            <div class="col-sm-6 description">
                                装着する地肌に専用の接着剤・テープを貼り付けます。接着剤の場合は、地肌に塗ったあと１０～１５秒程度待ちます。その後、Perfect
                                Skinを地肌に張り付けます。
                            </div>
                            <!-- === images === -->
                            <div class="col-sm-6 images">
                                <div class="bgImage">
                                    <img
                                        src="/src/images/contents/maintenance/tyakudatu/step1-bg1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="row smImages">
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step1-sm1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step1-sm2.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step1-sm3.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === step2 === -->
                    <div class="step123Block">
                        <!-- === titleBlock === -->
                        <div class="titleBlock">
                            <div class="icon">
                                <img
                                    src="/src/images/contents/maintenance/tyakudatu/step2.png"
                                    alt=""
                                />
                            </div>
                            <div class="title">
                                ステップ２<br />
                                専用のリムーバを利用して外しましょう。
                            </div>
                        </div>
                        <!-- === detail === -->
                        <div class="row detail">
                            <!-- === description === -->
                            <div class="col-sm-6 description">
                                Perferct Skin
                                を外す手順について説明します。まずは専用のリムーバを地肌につけ、接着力を弱めます。リムーバを塗った後、接着力が弱まったことを確認して、「Perferct
                                Skin 」を外します。
                            </div>
                            <!-- === images === -->
                            <div class="col-sm-6 images">
                                <div class="bgImage">
                                    <img
                                        src="/src/images/contents/maintenance/tyakudatu/step2-bg1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="row smImages">
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step2-sm1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step2-sm2.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- === step3 === -->
                    <div class="step123Block">
                        <!-- === titleBlock === -->
                        <div class="titleBlock">
                            <div class="icon">
                                <img
                                    src="/src/images/contents/maintenance/tyakudatu/step3.png"
                                    alt=""
                                />
                            </div>
                            <div class="title">
                                ステップ３<br />
                                外した「Perferct Skin 」を洗髪します。
                            </div>
                        </div>
                        <!-- === detail === -->
                        <div class="row detail">
                            <!-- === description === -->
                            <div class="col-sm-6 description">
                                Perferct Skin
                                のベースや髪についた接着剤をリムーバを利用して、取り除きます。その後は髪を洗う手順と同じように、市販のシャンプーを利用して洗髪します。洗髪後はドライヤーを使い、髪を乾かします。<br />
                                <br />
                                <div class="attention">
                                ※洗髪の方法は、
                                <a href="./oteire">日々のお手入れ</a>
                                をご確認ください。
                                </div>
                            </div>
                            <!-- === images === -->
                            <div class="col-sm-6 images">
                                <div class="bgImage">
                                    <img
                                        src="/src/images/contents/maintenance/tyakudatu/step3-bg1.png"
                                        alt=""
                                    />
                                </div>
                                <div class="row smImages">
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step3-sm1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-4">
                                        <img
                                            src="/src/images/contents/maintenance/tyakudatu/step3-sm2.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === secondContentBlock : よくある質問 === -->
                <div class="secondContentBlock">
                    <!-- === questions === -->
                    <div class="questions">
                        <!-- === title === -->
                        <div class="title">
                            良くある質問
                        </div>
                        <!-- === question === -->
                        <div class="question">
                            <div class="questionTitle">
                                Q. 毎日、着脱する必要はありますか？
                            </div>
                            <div class="answer">
                                Perfect
                                Skinは24時間、装着したままで問題ございません。寝るときも入浴時も外す必要はありません。<br />
                                皮脂や汗の状況などを考慮してシャンプーの頻度を決めてください。
                            </div>
                        </div>
                        <!-- === question === -->
                        <div class="question">
                            <div class="questionTitle">
                                Q.
                                毎日、着脱することで毛髪が抜ける心配はありますか？
                            </div>
                            <div class="answer">
                                洗髪回数やお手入れの方法（乱雑に扱うなど）次第で、利用できる期間について個人差がございます。シャンプーの回数を減らすことで、抜け毛を抑えることで製品の寿命は延びます。
                                また製品の毛髪が少なくなっても製品を都度購入する必要はありません。毛髪を植えているベースが利用できる場合、増毛サービスを利用することで、経済的にもお得です。
                            </div>
                        </div>
                        <!-- === contactLink === -->
                        <div class="contactLink">
                            <a href="/contents/contact/situmon"
                                >よくある質問へ ></a
                            >
                        </div>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === thirdContentBlock : 私たちがサポートします === -->
                <div class="thirdContentBlock">
                    <div class="title">
                        私たちがサポートします。
                    </div>
                    <div class="description">
                        メンテナス方法や購入時について質問がある。メンテナス製品について質問がある。どんなことでも相談にのります。<br />
                        購入前や購入後のサポートまで些細な質問でもお気軽にご相談ください。
                    </div>
                    <div class="link">
                        <a href="/contents/contact/toiawase">
                            問い合わせする >
                        </a>
                    </div>
                </div>

                <!-- === border === -->
                <div class="border"></div>

                <!-- === PerfectSkinBlock : Perfect Skinを理解していただくために。 === -->
                <div class="PerfectSkinBlock">
                    <!-- === titleBlock === -->
                    <div class="titleBlock">
                        <div class="title">
                            Perfect Skinを理解していただくために。
                        </div>
                        <div class="description">
                            Pefect
                            Skinは、オンラインで購入する製品となります。<br />
                            製品の特長や購入の方法など、製品について理解いただけるように、<br />
                            まずは下記のページを通じて製品理解を進めてください。
                        </div>
                    </div>

                    <!-- === contents === -->
                    <div class="contents">
                        <div class="row">
                            <!-- === content ①製品紹介 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic4.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/">①製品紹介</a>
                                </div>
                            </div>
                            <!-- === content ②日々のメンテナンス === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/">②日々のメンテナンス</a>
                                </div>
                            </div>
                            <!-- === content ③ご注文の流れ ④製品費用 === -->
                            <div class="col-sm-4 content">
                                <!-- === contentImage === -->
                                <div class="contentImage">
                                    <img
                                        src="/src/images/contents/flow/nagare1/pic5.png"
                                        alt=""
                                    />
                                </div>
                                <!-- === contentDescription === -->
                                <div class="contentDescription">
                                    製品の特長やPerferc
                                    Skinの自然さをご確認ください。低価格ながらも安心してご利用できる製品です。
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/contents/flow/nagare1"
                                        >③ご注文の流れ</a
                                    >
                                </div>
                                <!-- === contentLink === -->
                                <div class="contentLink">
                                    <a href="/">④製品費用</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- === footer === -->
        <%- include('../../footer') %>

        <script src="/lib/less/less.min.js"></script>
    </body>
</html>
