<head>
    <link
        rel="stylesheet/less"
        href="/src/less/contents/maintenance/main1FirstHeader.less"
    />
</head>
<body>
    <div class="mainFirstHeader">
        <div class="mainFirstHeader_tab">
            <a href="./tyakudatu">着脱の方法</a>
            <span>▼</span>
        </div>
        <div class="mainFirstHeader_tab">
            <a href="./oteire">日々のお手入れ</a>
            <span></span>
        </div>
    </div>
</body>
